body{
    background-color: #ffffff;
    margin:0;
}
nav#main-nav {
    position: fixed;
    background-color: #177200;
    z-index: 100;
    width: 100%;
    top: 0rem;
}

#main-nav a{
    Background-color: #1a9a00;
    padding: 1em;
    display: inline-block;
    color: #000000;
    font-size: 1.5rem;   
    font-family: sans-serif;
    text-decoration: none;
    transition: all ease 300ms;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-nav a:hover{
    background-color: #20c300;
    color: #ffffff;
    font-size: 1.6rem;
    transition: all ease 300ms;
}

main {
    margin-top: 80px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
}
.Content-Box{
    width: 23.5%;
}

.Image-Container{
    position: relative;
}

img.Homepage-Image{
    text-align: center;
    border-radius: 30px;
}

.Image-Container>img:hover{
    box-shadow: 6px 6px #F68B1F;
    transition: all ease 300ms;
}
.Image-Container .centered{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img.Homepage-Image:hover {
    filter: blur(2px);
    
    transition: all ease 300ms;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 100;
    transition: background ease 300ms;
    background: #F68B1F;
    text-align: center;
    line-height: 3rem;  
    font-size: 1.5rem;
    text-decoration: none;
    transition: all ease 300ms;
}

.back-to-top:hover{
    box-shadow: 3px 3px #000000;
}
html {
    scroll-behavior: smooth;
}