body{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
nav#main-nav {
    position: fixed;
    background-color: #177200;
    z-index: 100;
    width: 100%;
    top: 0rem;
}

#main-nav a{
    Background-color: #1a9a00;
    padding: 1em;
    display: inline-block;
    color: #000000;
    font-size: 1.5rem;   
    font-family: sans-serif;
    text-decoration: none;
    transition: all ease 300ms;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-nav a:hover{
    background-color: #20c300;
    color: #ffffff;
    font-size: 1.6rem;
    transition: all ease 300ms;
}

main a{
    color: purple;
}

main {
    margin-top: 80px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.Content-Box{
    width: 24%;
}

.Image-Container{
    position: relative;
    margin: 0;
}

img.Homepage-Image{
    text-align: center;
    border-radius: 30px;
    max-width: 100%;
    object-fit: cover;
}

.Image-Container>img:hover{
    box-shadow: 6px 6px #F68B1F;
    transition: all ease 300ms;
}

.Image-Container .centered{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    opacity: 0;
    transition: opacity all ease 100ms;
}

.Image-Container:hover .centered{
    opacity: 1;
}

img.Homepage-Image:hover {
    filter: blur(10px);
    
    transition: all ease 300ms;
}

.homepageTitle
{
    margin-top: 80px;
    text-align: center;
}

.title{
    text-align: center;
}

.subTitle{
    margin-left: 20rem;
    margin-right: 20rem;
}

.infoImg{
    margin-left: 20rem;
    margin-right: 20rem;
}

.infoLink{
    margin-left: 20rem;
    margin-right: 20rem;
}

.titleImg{
    display: flex;
    justify-content: center;
}

.titleLink{
    text-align: center;
}


.text{
    background-color: #facea3;
    margin-left: 20rem;
    margin-right: 20rem;
}




.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 100;
    transition: background ease 300ms;
    background: #FEF3E9;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all ease 300ms;
}

.back-to-top:hover{
    box-shadow: 3px 3px #000000;
}
html {
    scroll-behavior: smooth;
}