body{
    background-color: #ffffff;
    margin:0;
}
nav#main-nav {
    background-color: #ff891b;
}

#main-nav a{
    Background-color: #1a9a00;
    padding: 1em;
    display: inline-block;
    color: #000000;
    font-size: 1.5rem;   
    font-family: sans-serif;
    text-decoration: none;
    transition: all ease 300ms;
}

#main-nav a:hover{
    background-color: #20c300;
    color: #ffffff;
}

img:hover {
    box-shadow: 6px 6px orange;
}